@import '../../styles/common.scss';

.loginForm {
  width: 340px;
  margin: 0 auto;
  margin-top: 90px;

  h3 {
    margin-bottom: 36px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $mainText;
  }

  // login input
  .idField,
  .pwField {
    width: 340px;
    height: 54px;
    cursor: text;
    padding: 0 19px;
    border: solid 1px $subTextLightGray;
    border-radius: 3px;
    font-size: 14px;
  }

  .idField::placeholder,
  .pwField::placeholder {
    color: $subTextLightGray;
  }

  .pwField {
    margin-top: 10px;
  }

  // loginCheck
  .loginCheck {
    padding: 13px 0 28px;

    .saveCheckBox {
      font-size: 13px;
    }

    .findLogin {
      float: right;
      line-height: 20px; //보안접속 체크박스와 줄 맞추기 위함
      font-size: 13px;

      .findId,
      .findPwd {
        color: $mainText;
      }
    }
  }

  button {
    width: 340px;
    height: 54px;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }

  .loginBtn {
    background-color: $themePurple;
    color: white;
  }

  .joinBtn {
    margin-top: 10px;
    border: solid 1px $themePurple;
    background-color: #fff;
    color: $themePurple;
  }
}
