@import '../../styles/common.scss';

.Main{

.titRecommendGoods{
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center; 
    font-weight: 700;
    font-size: 28px;
    color: $mainText;
}

}