@import '../../styles/reset.scss';

.cart {
  position: absolute;
  z-index: 2;
  border-radius: 5px;
}

.cartList {
  display: flex;
  margin-top: 360px;
  margin-left: 260px;
  width: 440px;
  height: 320px;
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 0px 30px;

  .namePrice {
    width: 380px;
    height: 79px;
    padding-top: 40px;
    min-height: 148px;

    .listName {
      font-size: 14px;
      letter-spacing: 0;
    }

    .listPrice {
      padding-top: 20px;
      font-size: 14px;
      font-weight: 800;
    }
  }
}
