@import '../../styles/common.scss';

.modalEffect {
  position: fixed;
  @extend %flex-row-center;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  background: rgba(10, 10, 10, 0.46);
  z-index: 999;
}

.cartList {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 440px;
  height: 320px;
  padding: 0px 30px;
  background-color: white;
  border-radius: 15px;

  .namePrice {
    width: 380px;
    height: 79px;
    padding-top: 40px;
    min-height: 148px;

    .listName {
      font-size: 15px;
      font-weight: 350;
      letter-spacing: 0;
    }

    .priceCount {
      display: flex;
      justify-content: space-between;
      width: 380px;
      height: 40px;

      .listPrice {
        padding-top: 20px;
        font-size: 14px;
        font-weight: 800;
      }
      .countNumber {
        margin-top: 12px;
        width: 92px;
        height: 30px;
        border: 1px solid rgb(220, 223, 225);
        border-radius: 3px;

        input {
          width: 30px;
          height: 26px;
          font-size: 14px;
          border-style: none;
          text-align: center;
        }

        .subtract,
        .add {
          width: 30px;
          height: 28px;
          padding-top: 2px;
          background-color: white;
          border-style: none;
        }
      }
    }

    .modalTotal {
      display: flex;
      justify-content: space-between;
      width: 380px;
      height: 71px;
      padding-top: 15px;
      margin-top: 60px;

      .priceCount {
        font-size: 16px;
        font-weight: 500;
      }

      .modalTotalprice {
        text-align: right;
        font-size: 24px;
        font-weight: 600;
      }

      .modalTotalcomment {
        margin-top: 6px;

        .modalTotalicon {
          display: inline-block;
          width: 38px;
          height: 20px;
          margin-right: 6px;
          line-height: 19px;
          vertical-align: 1px;
          border: 1px solid #e8a828;
          border-radius: 10px;
          background-color: #ffbf00;
          font-weight: 700;
          font-size: 11px;
          color: white;
          text-align: center;
        }

        .modalTotalCash {
          font-size: 14px;
        }
      }
    }

    .button {
      display: flex;
      justify-content: space-between;
      width: 380px;
      height: 108px;
      margin-top: 10px;

      .cancel {
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.7);
      }

      .pushBasket {
        border: 1px solid white;
        color: white;
        background-color: $themePurple;
      }

      button {
        width: 184px;
        height: 52px;
        font-size: 16px;
      }
    }
  }
}
