@import '../../styles/common.scss';

.listCenter {
  font-weight: 600;
  width: 1050px;
  margin: 10px auto 0 auto;
  padding-left: 42px;
}

.productList {
  display: flex;
  flex-direction: row;
  width: 870px;

  li {
    padding: 0 13px 7px 12px;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    letter-spacing: -0.3px;
    overflow: hidden;
    cursor: pointer;
  }

  .tap {
    color: $themePurple;
    border-color: $themePurple;
    font-weight: 600;
  }

  li:hover {
    color: $themePurple;
    border-color: $themePurple;
    font-weight: 600;
  }
}

.productHeaderName {
  font-weight: 600;
  width: 1050px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 42px;
}
