@import './reset.scss';

* { font-family : 'Noto Sans KR', sans-serif; }

a { text-decoration : none; }

#root {
   width  : 100%;
   height : 100%;
}

button, input {
   outline : none;
   cursor  : pointer;
}

%flex-row-center {
   display         : flex;
   justify-content : center;
   align-items     : center;
}

%flex-column-center {
   display         : flex;
   flex-direction  : column;
   justify-content : center;
   align-items     : center;
}

$themePurple : rgb(110,26,140);
$themeLightPurple : #c080fb;

$mainText : #333;
$subTextGray : #999;
$subTextLightGray : #f3f3f3;
$saleColor : #fa622f;

