@import '../../styles/common.scss';

.goodsViewInfomationTabGroup {
   position      : relative;
   display       : flex;
   margin-top    : 80px;
   border-bottom : 1px solid #bfbfbf;
   font-size     : 14px;
   a {
      text-decoration : none;
      pointer-events  : none;
   }
   &:first-child {
      border-left : 1px solid #bfbfbf;
   }
   .goodsViewInfomationTab {
      display         : flex;
      justify-content : center;
      align-items     : center;
      width           : 170px;
      height          : 47px;
      border-top      : 1px solid #bfbfbf;
      border-right    : 1px solid #bfbfbf;
      cursor          : pointer;
      .goodsViewInfomationTabAnchor {
         color : #454545;
      }
   }
   .tabUse {
      background-color : #f0eef1;
      border-top       : 1px solid #bfbfbf;
      border-bottom    : 0;
      z-index          : 100;
   }
}