@import '../../styles/common.scss';

.goodsViewInfomationContent {
   padding-top : 50px;
   .goodsWrap {
      width : 1050px;
      .goodsIntro {
         .pic {
            img {
               width : 1050px;
            }
         }
         .context {
            h3 {
               display        : block;
               margin         : 75px 0 0;
               padding-bottom : 35px;
               text-align     : center;
               border-bottom  : 1px solid #c1c1c1;
               color          : #666;
               font-weight    : 700;
               small {
                  display        : block;
                  font-size      : 26px;
                  padding-bottom : 20px;
                  line-height    : 15px;
               }
               h1 {
                  font-size   : 40px;
                  line-height : 1.1;
               }
            }
            .words {
               margin-top  : 55px;
               font-size   : 20px;
               line-height : 32px;
               color       : #373737;
            }
         }
      }
   }
}
